/* This file overwrites the styling features for the admin only pages */


.admin-wrapper
{
    height:calc(100% - 66px);
    display:flex;
}
    
.admin-wrapper .left-sidebar  /*  this contains manage the posts button and link */
{
    flex: 2;
    height: 100%;
    background: black;
}
.admin-wrapper .left-sidebar ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}
.admin-wrapper .left-sidebar ul li a
{
    padding: 18px;
    display: block;
    border-bottom: 1px solid rgb(255, 251, 0);
}
.admin-wrapper .left-sidebar ul li a:hover
{
    background:rgb(255, 251, 0);
    color:black;
}

.admin-wrapper .admin-content
{
    flex:8;
    height:100%;    
    padding:40px 100px 100px;
    overflow-y: scroll;
}
.admin-content .page-title
{
    text-align:center;
    margin-bottom: 1.5rem;
}

table
{
    width:100%;
    border-collapse: collapse;
    font-size: 1.1rem;;    
}

th,td
{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dfc2c2;
}

/* Posts index page buttons styling */
.edit
{
    color:green;
}

.delete
{
    color:red;    
}

.publish
{
    color:blue;
}

.unpublish
{
    color:blue;    
}

.preview
{
    color: gray;
}

.edit:hover
{
    text-decoration: underline;
}

.delete:hover
{
    text-decoration: underline;
}

.publish:hover
{
    text-decoration: underline;
}

.preview:hover
{
    text-decoration: underline;
}

.unpublish:hover
{
    text-decoration: underline;
}
/* End of posts index page buttons styling */

form div
{
    margin-bottom: 15px;
}


