/* 		
        html, body, title, header ul, .content .sidebar .section.topics ul, .post, .main-content, .post-clearfloat, .sidebar, .footer, .footer-content, .footer-section.about, .contact, .socials, .footer-list, .footer-section.contact-form, .footer-bottom, .page-wrapper, .post-slider, .post-wrapper, .post-info, .content.clearfloats
{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%
} */